#config {
  font-size: 25px;
  cursor: pointer;
}

#config-div {
  margin-left: 80px;
}

#title {
  font-size: 25px;
  font-family: Poppins, sans-serif;
}

.fab.fa-instagram {
  font-size: 20px;
}

.fab.fa-github {
  font-size: 20px;
}

.fas.fa-code {
  font-size: 20px;
}

#info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: .375rem .75rem;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-white);
  text-align: center;
  white-space: nowrap;
  background-color: var(--bs-body-color);
  border: 1px solid #ced4da;
  border-radius: 20px 0px 0px 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#breakTime {
  border-radius: 0px 20px 20px 0px;
}

#focusTime {
  border-radius: 0px 20px 20px 0px;
}

.save-btn {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 13px;
  background: var(--bs-body-color);
  color: var(--bs-white);
  border: 1px solid var(--bs-white);
  border-radius: 20px;
  padding: 8px;
  padding-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.save-btn:hover {
  color: grey;
  cursor: pointer;
}

.minusBtn {
  background: var(--bs-body-color);
  border-style: none;
  border-radius: 20px;
  font-size: 13px;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 10px;
}

.plusBtn {
  background: var(--bs-body-color);
  border-style: none;
  border-radius: 20px;
  font-size: 13px;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 10px;
}

#infoConfig {
  background: var(--bs-body-color);
  border: 1px solid var(--bs-white);
  border-radius: 0px 20px 20px 0px;
  color: var(--bs-white);
}

.mb-7 {
  margin-bottom: 7rem!important;
}

.mt-7 {
  margin-top: 7rem!important;
}

#refreshBtn:focus {
  border: none;
  outline: none;
}

#refreshBtn:hover {
  border-color: var(--bs-body-color);
}

#refreshBtn {
  background: var(--bs-body-color);
  margin-right: 10px;
  font-size: 30px;
  border: none;
  outline: none;
}

.actionBtn:focus {
  border: none;
  outline: none;
}

.actionBtn:hover {
  border-color: var(--bs-body-color);
}

.actionBtn {
  background: var(--bs-body-color);
  margin-left: 10px;
  font-size: 30px;
  border: none;
  outline: none;
}

@media screen and (max-width: 375px) {
  form {
    height: 40%;
  }
}

@media screen and (max-width: 675px) {
  footer {
    position: static;
  }
}

.checkbox {
  --background: #fff;
  --border: #D1D6EE;
  --border-hover: #BBC1E1;
  --border-active: #1E2235;
  --tick: #fff;
  position: relative;
}
.checkbox input,
.checkbox svg {
  width: 21px;
  height: 21px;
  display: block;
}
.checkbox input {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  outline: none;
  background: var(--background);
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 4px;
  transition: box-shadow 0.3s;
  box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
}
.checkbox input:hover {
  --s: 2px;
  --b: var(--border-hover);
}
.checkbox input:checked {
  --b: var(--border-active);
}
.checkbox svg {
  pointer-events: none;
  fill: none;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--stroke, var(--border-active));
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 21px;
  transform: scale(var(--scale, 1)) translateZ(0);
}
.checkbox.path input:checked {
  --s: 2px;
  transition-delay: 0.4s;
}
.checkbox.path input:checked + svg {
  --a: 16.1 86.12;
  --o: 102.22;
}
.checkbox.path svg {
  stroke-dasharray: var(--a, 86.12);
  stroke-dashoffset: var(--o, 86.12);
  transition: stroke-dasharray 0.6s, stroke-dashoffset 0.6s;
}