.timer {
  padding: 3px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 30%;
  font-size: 30px;
}

.progress-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-ring .circle {
  transition: 0.5s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: #ffffff;
}

@media screen and (max-width: 675px) {
  .progress-ring {
    width: 200px;
    height: 200px;
  }

  .progress-ring .circle {
    stroke-width: 4px;
    r: 90px;
    cx : 100px;
    cy : 100px;
  }
}